/* html { */
/* 	width: 100%; */
/* } */

/* body { */
/* 	background: #eceef9; */
/* 	margin: 5px; */
/* 	padding: 0px; */
/* } */

#bannerTop {
	width: 100%;
	height: 2px;
	padding-top: 10px;
	background-color:#a8e9ff;
 	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,
		startColorstr=#a8e9ff, endColorstr=#3e6e85);
	background-image: -moz-linear-gradient(top, #a8e9ff 47%, #3e6e85 100%, #388db5 92%);
	background-image: linear-gradient(top, #a8e9ff 47%, #3e6e85 100%, #388db5 92%);
	background-image: -webkit-linear-gradient(top, #a8e9ff 47%, #3e6e85 100%, #388db5 92%);
	background-image: -o-linear-gradient(top, #a8e9ff 47%, #3e6e85 100%, #388db5 92%);
	background-image: -ms-linear-gradient(top, #a8e9ff 47%, #3e6e85 100%, #388db5 92%);
	background-image: -webkit-gradient(linear, right top, right bottom, color-stop(47%,
		#a8e9ff), color-stop(100%, #3e6e85), color-stop(92%, #388db5));
}

#header {
	width: 98.46%;
	height: 40px;
	padding-left: 20px;
	background: rgb(254, 255, 255); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background:
		url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIzMiUiIHN0b3AtY29sb3I9IiNmZWZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZDJlYmY5IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
	background: -moz-linear-gradient(top, rgba(254, 255, 255, 1) 32%,
		rgba(210, 235, 249, 1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(32%, rgba(254
		, 255, 255, 1)), color-stop(100%, rgba(210, 235, 249, 1)));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(254, 255, 255, 1) 32%,
		rgba(210, 235, 249, 1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(254, 255, 255, 1) 32%,
		rgba(210, 235, 249, 1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(254, 255, 255, 1) 32%,
		rgba(210, 235, 249, 1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(254, 255, 255, 1) 32%,
		rgba(210, 235, 249, 1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff',
		endColorstr='#d2ebf9', GradientType=0); /* IE6-8 */
}
/* #main
 {
    width: 98.46%;
	height: 70%;
	padding-left: 20px;
 } */
 
#footerBanner {
	width: 100%;
	height: 5px;
	position: fixed;
	bottom: 50px;
	padding-left: 20px;
	background: #e4f5fc; /* Old browsers */
	background: -moz-linear-gradient(top, #e4f5fc 0%, #2ab0ed 0%, #2ab0ed 0%, #2ab0ed 2%
		, #2ab0ed 5%, #9fd8ef 15%, #bfe8f9 82%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e4f5fc),
		color-stop(0%, #2ab0ed), color-stop(0%, #2ab0ed),
		color-stop(2%, #2ab0ed), color-stop(5%, #2ab0ed),
		color-stop(15%, #9fd8ef), color-stop(82%, #bfe8f9));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e4f5fc 0%, #2ab0ed 0%, #2ab0ed 0%, #2ab0ed
		2%, #2ab0ed 5%, #9fd8ef 15%, #bfe8f9 82%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e4f5fc 0%, #2ab0ed 0%, #2ab0ed 0%, #2ab0ed 2%,
		#2ab0ed 5%, #9fd8ef 15%, #bfe8f9 82%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #e4f5fc 0%, #2ab0ed 0%, #2ab0ed 0%, #2ab0ed 2%,
		#2ab0ed 5%, #9fd8ef 15%, #bfe8f9 82%); /* IE10+ */
	background: linear-gradient(to bottom, #e4f5fc 0%, #2ab0ed 0%, #2ab0ed 0%, #2ab0ed
		2%, #2ab0ed 5%, #9fd8ef 15%, #bfe8f9 82%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f5fc',
		endColorstr='#bfe8f9', GradientType=0); /* IE6-9 */
}

#footerDiv {
	width: 97.8%;
	height: 45px;
	position: fixed;
	bottom: 0;
}

#footerDiv label {
	margin: 0;
	top: 10%;
	float: right;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #7D0552;
}

#footerDiv img {
	float: left;
	padding-left: 20px;
}

.extLinks:hover {
	cursor: pointer;
}

#bannerBottom {
	width: 99.3%;
	height: 6px;
	/* padding-top: 10px; */
	position: fixed;
	bottom: 0;
	background: rgb(117, 34, 1); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background:
		url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxOCUiIHN0b3AtY29sb3I9IiM3NTIyMDEiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI0MyUiIHN0b3AtY29sb3I9IiM4YzMzMTAiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI2MiUiIHN0b3AtY29sb3I9IiNiZjZlNGUiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI5MCUiIHN0b3AtY29sb3I9IiNmMGI3YTEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(117, 34, 1, 1) 18%,
		rgba(140, 51, 16, 1) 43%, rgba(191, 110, 78, 1) 62%,
		rgba(240, 183, 161, 1) 90%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(18%, rgba(117
		, 34, 1, 1)), color-stop(43%, rgba(140, 51, 16, 1)),
		color-stop(62%, rgba(191, 110, 78, 1)),
		color-stop(90%, rgba(240, 183, 161, 1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(117, 34, 1, 1) 18%,
		rgba(140, 51, 16, 1) 43%, rgba(191, 110, 78, 1) 62%,
		rgba(240, 183, 161, 1) 90%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(117, 34, 1, 1) 18%,
		rgba(140, 51, 16, 1) 43%, rgba(191, 110, 78, 1) 62%,
		rgba(240, 183, 161, 1) 90%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(117, 34, 1, 1) 18%,
		rgba(140, 51, 16, 1) 43%, rgba(191, 110, 78, 1) 62%,
		rgba(240, 183, 161, 1) 90%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(117, 34, 1, 1) 18%,
		rgba(140, 51, 16, 1) 43%, rgba(191, 110, 78, 1) 62%,
		rgba(240, 183, 161, 1) 90%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#752201',
		endColorstr='#f0b7a1', GradientType=0);
	/* bottom: 2px; IE6-8 */
}

#headeractions {
	float: right;
	width: 410px;
	padding-right: 2px;
	padding-top: 2px;
}

.sbtextinput {
	margin: 0;
	padding: 5px 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	border: 1px solid #0076a3;
	border-right: 0px;
	border-top-left-radius: 5px 5px;
	border-bottom-left-radius: 5px 5px;
}

.sbbutton {
	margin: 0;
	padding: 5px 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	border: solid 1px #0076a3;
	border-right: 0px;
	background: #0095cd;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee),
		to(#0078a5));
	background: -moz-linear-gradient(top, #00adee, #0078a5);
	border-top-right-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;
}

.sbbutton:hover {
	text-decoration: none;
	background: #007ead;
	background: -webkit-gradient(linear, left top, left bottom, from(#0095cc),
		to(#00678e));
	background: -moz-linear-gradient(top, #0095cc, #00678e);
}
/* Fixes submit button height problem in Firefox */
.sbbutton::-moz-focus-inner {
	border: 0;
}

/* Mask for background, by default is not display */

/* You can customize to your needs  */
.login-popup {
	display: none;
	background: #808080;
	padding: 10px;
	border: 2px solid #ddd;
	float: left;
	font-size: 1.2em;
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 99999;
	box-shadow: 0px 0px 20px #999;
	/* CSS3 */
	-moz-box-shadow: 0px 0px 20px #999;
	/* Firefox */
	-webkit-box-shadow: 0px 0px 20px #999;
	/* Safari, Chrome */
	border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px;
	/* Firefox */
	-webkit-border-radius: 3px;
	/* Safari, Chrome */;
}

img.btn_close {
	float: right;
	margin: -28px -28px 0 0;
}

fieldset {
	border: none;
}

form.signin .textbox label {
	display: block;
	padding-bottom: 7px;
}

form.signin .textbox span {
	display: block;
}

form.signin p, form.signin span {
	color: silver;
	font-size: 15px;
	line-height: 18px;
	font-size: 15px;
}

form.signin .textbox input {
	background: #666666;
	border-bottom: 1px solid #333;
	border-left: 1px solid #000;
	border-right: 1px solid #333;
	border-top: 1px solid #000;
	color: #fff;
	border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	font: 13px Arial, Helvetica, sans-serif;
	padding: 6px 6px 4px;
	width: 200px;
}

form.signin input:-moz-placeholder {
	color: #bbb;
	text-shadow: 0 0 2px #000;
}

form.signin input::-webkit-input-placeholder {
	color: #bbb;
	text-shadow: 0 0 2px #000;
}

.button {
	background: -moz-linear-gradient(center top, #f3f3f3, #dddddd);
	background: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3),
		to(#dddddd));
	background: -o-linear-gradient(top, #f3f3f3, #dddddd);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f3f3f3',
		EndColorStr='#dddddd');
	border-color: #000;
	border-width: 1px;
	border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	color: #333;
	cursor: pointer;
	display: inline-block;
	padding: 6px 6px 4px;
	margin-top: 10px;
	font: 12px;
	width: 214px;
}

.button:hover {
	background: #ddd;
}

/*Accordion Start*/
#accContent {
	float: right;
}

ul.accordion {
	list-style: none;
	position: absolute;
	right: 5px;
	top: 41px;
	font-family: Cambria, serif;
	font-size: 16px;
	font-style: italic;
	line-height: 1.5em;
}

ul.accordion li {
	float: right;
	width: 78px;
	height: 500px;
	display: block;
	padding: 0;
	border-right: 2px solid #fff;
	border-bottom: 2px solid #fff;
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: center center;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	-moz-box-shadow: 1px 3px 15px #555;
	-webkit-box-shadow: 1px 3px 15px #555;
	box-shadow: 1px 3px 15px #555;
	border-right: 2px solid #fff;
}

ul.accordion li.bg1 {
	background-image:
		url(../images/barchart.png);
	background-position: 5px 70px;
	background-color: #eceef9;
}

ul.accordion li.bg2 {
	background-image:
		url(../images/excelreport2.png);
	background-position: 5px 70px;
	background-color: #eceef9;
}

ul.accordion li.bg3 {
	background-image:
		url(../images/linechart.png);
	background-position: 5px 70px;
	background-color: #eceef9;
}

ul.accordion li.bg4 {
	background-image:
		url(../images/piechart.png);
	background-position: 5px 70px;
	background-color: #eceef9;
}

ul.accordion li.bleft {
	
}

ul.accordion li .heading {
	/* background-color: yellow; */
	/* padding: 10px; */
	margin-top: 2px;
	opacity: 0.9;
	text-transform: uppercase;
	font-style: normal;
	font-weight: bold;
	letter-spacing: 1px;
	font-size: 14px;
	color: white;
	text-align: center;
	text-shadow: -1px -1px 1px #ccc;
	background: rgb(117, 34, 1); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background:
		url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxOCUiIHN0b3AtY29sb3I9IiM3NTIyMDEiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI0MyUiIHN0b3AtY29sb3I9IiM4YzMzMTAiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI2MiUiIHN0b3AtY29sb3I9IiNiZjZlNGUiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI5MCUiIHN0b3AtY29sb3I9IiNmMGI3YTEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(117, 34, 1, 1) 18%,
		rgba(140, 51, 16, 1) 43%, rgba(191, 110, 78, 1) 62%,
		rgba(240, 183, 161, 1) 90%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(18%, rgba(117
		, 34, 1, 1)), color-stop(43%, rgba(140, 51, 16, 1)),
		color-stop(62%, rgba(191, 110, 78, 1)),
		color-stop(90%, rgba(240, 183, 161, 1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(117, 34, 1, 1) 18%,
		rgba(140, 51, 16, 1) 43%, rgba(191, 110, 78, 1) 62%,
		rgba(240, 183, 161, 1) 90%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(117, 34, 1, 1) 18%,
		rgba(140, 51, 16, 1) 43%, rgba(191, 110, 78, 1) 62%,
		rgba(240, 183, 161, 1) 90%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(117, 34, 1, 1) 18%,
		rgba(140, 51, 16, 1) 43%, rgba(191, 110, 78, 1) 62%,
		rgba(240, 183, 161, 1) 90%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(117, 34, 1, 1) 18%,
		rgba(140, 51, 16, 1) 43%, rgba(191, 110, 78, 1) 62%,
		rgba(240, 183, 161, 1) 90%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#752201',
		endColorstr='#f0b7a1', GradientType=0); /* IE6-8 */
	background: rgb(117, 34, 1); /* IE6-8 */
}

ul.accordion li .description {
	position: absolute;
	width: 480px;
	height: 185px;
	bottom: 0px;
	left: 0px;
	color: #888;
	background: rgb(117, 34, 1); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background:
		url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxOCUiIHN0b3AtY29sb3I9IiM3NTIyMDEiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI0MyUiIHN0b3AtY29sb3I9IiM4YzMzMTAiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI2MiUiIHN0b3AtY29sb3I9IiNiZjZlNGUiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI5MCUiIHN0b3AtY29sb3I9IiNmMGI3YTEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(117, 34, 1, 1) 18%,
		rgba(140, 51, 16, 1) 43%, rgba(191, 110, 78, 1) 62%,
		rgba(240, 183, 161, 1) 90%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(18%, rgba(117
		, 34, 1, 1)), color-stop(43%, rgba(140, 51, 16, 1)),
		color-stop(62%, rgba(191, 110, 78, 1)),
		color-stop(90%, rgba(240, 183, 161, 1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(117, 34, 1, 1) 18%,
		rgba(140, 51, 16, 1) 43%, rgba(191, 110, 78, 1) 62%,
		rgba(240, 183, 161, 1) 90%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(117, 34, 1, 1) 18%,
		rgba(140, 51, 16, 1) 43%, rgba(191, 110, 78, 1) 62%,
		rgba(240, 183, 161, 1) 90%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(117, 34, 1, 1) 18%,
		rgba(140, 51, 16, 1) 43%, rgba(191, 110, 78, 1) 62%,
		rgba(240, 183, 161, 1) 90%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(117, 34, 1, 1) 18%,
		rgba(140, 51, 16, 1) 43%, rgba(191, 110, 78, 1) 62%,
		rgba(240, 183, 161, 1) 90%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#752201',
		endColorstr='#f0b7a1', GradientType=0);
	background: rgb(117, 34, 1); /* IE6-8 */
}

ul.accordion li .description h2 {
	text-transform: uppercase;
	font-style: normal;
	font-weight: bold;
	letter-spacing: 1px;
	font-size: 45px;
	color: #444;
	text-align: left;
	margin: 0px 0px 15px 20px;
	text-shadow: -1px -1px 1px #ccc;
}

ul.accordion li .description p {
	line-height: 14px;
	margin: 10px 22px;
	font-family: "Trebuchet MS", sans-serif;
	font-size: 12px;
	font-style: italic;
	font-weight: normal;
	text-transform: none;
	letter-spacing: normal;
	line-height: 1.6em;
}

ul.accordion li .description a {
	position: absolute;
	bottom: 5px;
	left: 20px;
	text-transform: uppercase;
	font-style: normal;
	font-size: 11px;
	text-decoration: none;
	color: #888;
}

ul.accordion li .description a:hover {
	color: white;
	text-decoration: underline;
}

ul.accordion li .bgDescription {
	height: 200px;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	width: 100%;
	display: none;
	bottom: 0px;
}
/*Accordion End*/